/* src/styles/CustomerRegister.css */
.register-container {
    
    width: 60%;
    max-width: 2000px;
    min-width: 1000px;

    padding-top: 10%;
    margin-left: 0%;
     margin: 0 auto;
    justify-items: center; 
  }

  .main_container
  {
    display: grid;
  grid-template-columns: repeat(1, 1fr 0.7fr);
  --input-focus: #2d8cf0;
    --font-color: #fefefe;
    --font-color-sub: #7e7e7e;
    --bg-color: #080808;
    --main-color: #fefefe;
    background: var(--bg-color);
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  .register_form {
    
    
    width: 90%;
    justify-items: center;
    align-items: center;
    
    
  }

  form{
    display: grid;
    grid-template-rows: repeat(1, 1fr 1fr 1fr 1fr 1fr 0.5fr );
    padding-bottom: 5%;
    
    
    
    
  }

  .form_header h3
  {
    padding-left: 25%;
    font-size: 130%;
    margin-bottom: 3%;
  }
  .form_header p
  {
    padding-left: 15%;
    font-size: 110%;
    margin-bottom: 3%;
    
  }
  .form_header a
  {
    text-decoration: none;
    color: #fefefe;
  }

  .form_header a:hover
  {
    color: #0056b3;
  }



  .image_container img
  {
    width: 70% ;
    padding-left: 15%;
    padding-top: 10%;
    
    

  }
  
 
  .register-group {
    margin-bottom: 15px;
  }
  
  .register-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .register-group input {
    width: 79%;
    padding: 8px;
    padding-left: 5%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .register-password
  {
    display: grid;
    grid-template-columns: repeat(1, 1fr 0.25fr);
    
  }

  .register-password input
  {
    width: 100%;
    padding: 8px;
    padding-left: 5%;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .register-password label
  {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .pass-button 
  {
    
    padding-top: 35% ;
    padding-right: 100%;
  }

  .register_form button
  {
    width: 89% ;
  }



  
  
  .show-password-button {
    margin-top: 5px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .show-password-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    
  }
  
  .success-message {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-button:hover {
    background-color: #218838;
  }
  